<h1 style="color: #007bff;">Here's your blog</h1>
<h2 style="font-size: 24px; color: #333;"><%= @blog.title %></h2>
<p style="font-size: 16px; line-height: 1.5;"> <%= @blog.content %></p>
<hr />
<p>Here's the link of your <%= link_to "fav-blog", blog_url(@blog) %>. </p>

<strong>Developer Resume Had been attached.</strong>
