  <div>
  <h1> <%=@blog.title%></h2>
  <p><%=@blog.content%></p>
  </div>
   <% if current_user.is_admin?%>
    <div>
    <%= button_to "Edit", edit_blog_path, method: :get %>
    <%#= button_to "Delete", blog_path, method: :delete, data: {turbo_confirm: "You want to delete Blog: #{@blog.title}"}%>
    <%= button_to "#{ @blog.archived ? "Unarchive" : "Archive"}", archive_blog_path(@blog), method: :patch%>
    </div>
  <%end%>
